<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Awesome Resume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB0837811F5BE9B20015C661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB0837981F5BE9B30015C661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB0837A31F5BE9B30015C661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
